html
    head
        style
            include css/index.css
    body
        ul.navUl
            li.navLi.title
                a(href='#') WedioLOGO

        div.box
            h1 Wedio Engine
            h4 겁나 쩌는 엔진 입니다;;ㄷㄷ 빨리 쓰셈..
            -if(!user)
                form(action='/login' method='post')
                    div
                        label 아이디 : 
                        input(type='text' name='username')
                    div
                        label 비밀번호 : 
                        input(type='password' name='password')
                    div
                        input(type='submit' value='로그인')
                    div
                        a(href="register") 회원가입
            -if(user)
                h4 환영합니다 #{user.nickname}님       
                div
                    a(href='/logout') 로그아웃