html
    head
        style
            include css/index.css
    body
        ul.navUl
            li.navLi.title
                a(href='#') WedioLOGO

        div.box
            h1 Wedio Engine
            h4 겁나 쩌는 엔진 입니다;;ㄷㄷ 빨리 쓰셈..
            input.btn.google(type="button" value="아마 구글 로그인")
            br
            input.btn.kakao(type="button" value="아마 카카오 로그인")
            br
            input.btn.naver(type="button" value="아마 네이버 로그인")
