@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean');
*{
    font-family: 'Nanum Gothic', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
}

.navUl{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
}

.navLi a{
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    text-decoration: none;
}

.title{
    float: left;
}

.username, .logout{
    float: right;
}

.container{
    top: 50%;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #333333;
    color: white;
    line-height: 50px;
    text-align: center;
}